@font-face {
  font-family: "Source Sans Variable";
  src: url("../fonts/SourceSansVariable-Roman-subset.woff");
}

@font-face {
  font-family: "Source Han Sans Variable";
  src: url("../fonts/SourceHanSansKVF-ExtraLight-subset.woff");
  font-language-override: "KOR";
}

* {
  font-family: "Source Sans Variable", "Source Han Sans Variable";
  font-feature-settings: "palt", "trad";
  font-size: 100.5%;
  /* user-select: auto; */
}

.title {
  font-variation-settings: "wght" 420;
}

.searchbar-input {
  padding-bottom: 0 !important;
  box-shadow: none !important;
}

.searchbar-toolbar {
  /* margin-top: -1em; */
}

.tsyseh {
  font-variation-settings: "wght" 350;
  font-size: 80%;
}
