@font-face {
  font-family: "Source Sans Variable";
  src: url("../fonts/SourceSansVariable-Roman-subset.woff");
}

@font-face {
  font-family: "Source Han Sans Variable";
  src: url("../fonts/SourceHanSansKVF-ExtraLight-subset.woff");
  font-language-override: "KOR";
}

@font-face {
  font-family: "I.Ming";
  src: url("../fonts/I.Ming-Regular-subset.ttf");
}

* {
  font-family: "Source Sans Variable", "Source Han Sans Variable", "I.Ming";
  font-feature-settings: "palt", "trad";
  font-size: 100.5%;
  /* user-select: auto; */
  /* --ripple-color: transparent; */
}

.title {
  font-variation-settings: "wght" 420;
}

.searchbar-input {
  padding-bottom: 0 !important;
  box-shadow: none !important;
}

.searchbar-toolbar {
  /* margin-top: -1em; */
}

.tsyseh {
  font-variation-settings: "wght" 420;
  font-size: 90%;
  display: inline-block;
  transform: scale(0.85, 1);
  transform-origin: 0 0;
}

ion-back-button {
  display: block;
}

h1 {
  letter-spacing: 0.15em;
  font-variation-settings: "wght" 300;
  display: inline-block;
  transform: scale(0.85, 1);
  transform-origin: 0 0;
}

p {
  font-size: 90%;
}

.bf {
  font-variation-settings: "wght" 650;
}

a {
  color: var(--ion-color-light-contrast);
}

rt {
  font-size: 50%;
}
