.accordianList {
  font-size: 80%;
}

.accordianTitle {
  font-variation-settings: "wght" 500;
  /* font-size: 90%; */
}

.accordianSubTitle {
  font-variation-settings: "wght" 600;
}

/* .accordianButton {
  transform: scale(0.8);
  transform-origin: 0 0;
} */

ion-list ion-item:last-of-type {
  --inner-border-width: 0px;
}
